<ix-layout-grid>
    <ix-row>
        <ix-col>
            <ix-typography format="display-xl">Update Customer</ix-typography>
        </ix-col>
    </ix-row>
</ix-layout-grid>
<ix-layout-grid class="custom-input-card w-75">
    <ix-row>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3 m-3" no-validate>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label htmlFor="validationIdentification" class="form-label">
                        Identity
                    </label>
                    <input name="identification" id="validationIdentification" maxlength="11"
                        formControlName="identification"
                        [ngClass]="{'custom-invalid-input': identification && identification.invalid && (identification.touched || identification.dirty || submitted)}" />
                    <div *ngIf="identification && identification.invalid && (identification.touched || identification.dirty || submitted)"
                        class="custom-invalid-feedback">
                        <div *ngIf="identification.errors?.['required']">Identity is required.</div>
                        <div *ngIf="!identification.errors?.['required']">Identity is invalid.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label htmlFor="validationName" class="form-label">
                        Name
                    </label>
                    <input name="identification" id="validationName" formControlName="name"
                        [ngClass]="{'custom-invalid-input': name && name.invalid && (name.touched || name.dirty || submitted)}" />
                    <div *ngIf="name && name.invalid && (name.touched || name.dirty || submitted)"
                        class="custom-invalid-feedback">
                        <div *ngIf="name.errors?.['required']">Name is required.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label htmlFor="validationPhoneNumber" class="form-label">
                        Phone Number
                    </label>
                    <input name="identification" id="validationPhoneNumber"
                        [specialCharacters]="[' ', '(', ')', '-', '+']" mask="+00 (000) 000-0000"
                        formControlName="phoneNumber"
                        [ngClass]="{'custom-invalid-input': phoneNumber && phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty || submitted)}" />
                    <div *ngIf="phoneNumber && phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty || submitted)"
                        class="custom-invalid-feedback">
                        <div *ngIf="phoneNumber.errors?.['required']">Phone number is required.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label htmlFor="validationEmail" class="form-label">
                        Email Address
                    </label>
                    <input name="email" id="validationEmail" formControlName="email"
                        [ngClass]="{'custom-invalid-input': email && email.invalid && (email.touched || email.dirty || submitted)}" />
                    <div *ngIf="email && email.invalid && (email.touched || email.dirty || submitted)"
                        class="custom-invalid-feedback">
                        <div *ngIf="email.errors?.['required']">Email adress is required.</div>
                        <div *ngIf="email.errors?.['email']">Email adress is not valid.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label htmlFor="validationAddress" class="form-label">
                        Address
                    </label>
                    <textarea name="address" id="validationAddress" formControlName="address"
                        [ngClass]="{'custom-invalid-input': address && address.invalid && (address.touched || address.dirty || submitted)}">
                    </textarea>
                    <div *ngIf="address && address.invalid && (address.touched || address.dirty || submitted)"
                        class="custom-invalid-feedback">
                        <div *ngIf="address.errors?.['required']">Adress is required.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label htmlFor="validationbirthdate" class="form-label">
                        Birthdate
                    </label>
                    <input name="birthdate" id="validationbirthdate" formControlName="birthdate" mask="d0/M0/0000" [leadZeroDateTime]="true"
                        [ngClass]="{'custom-invalid-input': birthdate && birthdate.invalid && (birthdate.touched || birthdate.dirty || submitted)}" />
                    <div *ngIf="birthdate && birthdate.invalid && (birthdate.touched || birthdate.dirty || submitted)"
                        class="custom-invalid-feedback">
                        <div *ngIf="birthdate.errors?.['required']">Birth date is required.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label htmlFor="validationCompany" class="form-label">
                        Company
                    </label>
                    <input name="company" id="validationCompany" formControlName="company" />
                </div>
            </div>
            <div class="row mb-3">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Order Number</th>
                        <th scope="col">Product</th>
                        <th scope="col">ProductPrice</th>
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of model?.orders">
                        <td>
                          {{item.id}}
                        </td>
                        <td>
                          {{item.orderNumber}}
                        </td>
                        <td>
                          {{item.product}}
                        </td>
                        <td>
                          {{item.productPrice}}
                        </td>
                        <td>
                          {{item.createdAt | date:'dd/MM/yyyy HH:ss' }}
                        </td>
                        <td>
                            <ix-icon-button icon="trashcan-filled" variant="primary" (click)="removeOrder(item.id)"></ix-icon-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex justify-content-end">
                    <ix-button type="submit" [loading]="isLoading" icon="pen" class="m-1" outline variant="primary"
                        [disabled]="submitted && form.invalid">
                        Update Customer
                    </ix-button>
                </div>
            </div>
        </form>
    </ix-row>
</ix-layout-grid>

<ng-template #customerUpdateModal let-modal>
    <div>
        <ix-modal-header>Update Customer</ix-modal-header>
        <ix-modal-content>Are you sure about update this customer?</ix-modal-content>
        <ix-modal-footer>
            <ix-button outline class="dismiss-modal" (click)="modal.dismiss('no')">
                No
            </ix-button>
            <ix-button class="close-modal" (click)="modal.close('yes')">
                Yes
            </ix-button>
        </ix-modal-footer>
    </div>
</ng-template>



<!-- TODO: complete add order -->
<ng-template #addOrder let-modal>
    <ix-modal-footer>
        <ix-modal-header>Add Order</ix-modal-header>
        <ix-modal-content>
            <ix-layout-grid class="custom-input-card w-75">
                <ix-row>
                    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="row g-3 m-3" no-validate>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label htmlFor="validationProduct" class="form-label">
                                    Product
                                </label>
                                <input name="product" id="validationProduct" maxlength="11"
                                    formControlName="product"
                                    [ngClass]="{'custom-invalid-input': product && product.invalid && (product.touched || product.dirty || addSubmitted)}" />
                                <div *ngIf="product && product.invalid && (product.touched || product.dirty || addSubmitted)"
                                    class="custom-invalid-feedback">
                                    <div *ngIf="product.errors?.['required']">Product is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label htmlFor="validationPrice" class="form-label">
                                    Price
                                </label>
                                <input name="price" id="validationPrice" formControlName="price"
                                    [ngClass]="{'custom-invalid-input': price && price.invalid && (price.touched || price.dirty || addSubmitted)}" />
                                <div *ngIf="price && price.invalid && (price.touched || price.dirty || addSubmitted)"
                                    class="custom-invalid-feedback">
                                    <div *ngIf="price.errors?.['required']">Price is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <ix-button type="submit" icon="add" class="m-1" outline variant="primary" 
                                    [disabled]="addSubmitted && form.invalid">
                                    Add Order
                                </ix-button>
                            </div>
                        </div>
                    </form>
                </ix-row>
            </ix-layout-grid>
        </ix-modal-content>
        <ix-button outline class="dismiss-modal" (click)="modal.dismiss('cancel')">
            Cancel
        </ix-button>
        <ix-button class="close-modal" (click)="modal.close('add')">
            Add
        </ix-button>
    </ix-modal-footer>
  </ng-template>