<ix-layout-grid class="h-100 login-card d-flex justify-content-center align-items-center">
    <ix-row class="h-50">
        <ix-col class="main-gradient-background w-100 h-100 d-flex justify-content-center align-items-center">
            <img src="assets\img\logo.svg" class="h-25 m-5">
        </ix-col>
        <ix-col class="custom-input-card w-100 h-100 d-flex justify-content-center align-items-center">
            <app-login-form></app-login-form>
        </ix-col>
    </ix-row>
</ix-layout-grid>